@import "./assets/navbar.css";
@import "./assets/about.css";
@import "./assets/stats.css";
@import "./assets/contact.css";
:root {
  --font: "GFS Didot", serif;
  --white: rgb(255, 255, 255);
  --gray: rgb(235, 218, 218, 0.5);
  --black: rgb(0, 0, 0);
}
html {
  color: var(--white);
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-tap-highlight-color: transparent;
}
.about,
.stats,
.stats__top,
.contact {
  margin: 2rem 5%;
  text-align: center;
}
.bg-fixed {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  filter: brightness(70%);
}

.navbar__left--name,
.about__right--clanName,
.about__right--clan-tag {
  background: linear-gradient(to right, #5ca9f7, #6c61f9, #f84666, #f99a42);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.2s ease-in-out;
}
.navbar__left--name:hover,
.about__right--clanName:hover {
  cursor: none;
}
.navbar__left--name:hover,
.about__right--clanName:hover,
.about__right--clan-tag:hover {
  color: rgba(0, 0, 0, 0);
}

.stats__bottom button,
.about__left--button {
  padding: 0.4rem 4rem;
  display: flex;
  justify-content: center;
  outline: transparent;
}
.stats__bottom button:hover,
.stats__bottom button:active,
.stats__bottom button:focus,
.about__left--button:hover,
.about__left--button:focus,
.about__left--button:active {
  transform: scale(105%);
  box-shadow: 0 10px 14px rgba(224, 15, 15, 0.3);
}

@media screen and (min-width: 769px) {
  .about,
  .stats,
  .stats__top,
  .contact {
    margin: 5rem 10%;
  }
}
