.contact {
  background-color: rgba(30, 32, 41, 0.9);
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.contact__header {
  font-size: 2rem;
}

.contact__first,
.contact__second {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__first--icon,
.contact__second--icon {
  width: 4rem;
  margin-right: 2rem;
}
.contact__second--icon {
  padding-right: 0.6rem;
}

.contact__first--link,
.contact__second--link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
}


